#Scenetabscreen{
	position : absolute;
	left : 0px;
	top : 0px;
	width : 1280px;
	height : 720px;
	background-color : #ffffff;
	background-image : url('..\\..\\images\\background-tabuleiro.png');
	background-size : 1280px 720px;
	visibility : visible;
}
#Scenetabscreen #tabuleiro{
	position : absolute;
	left : 15px;
	top : 150px;
	width : 1250px;
	height : 564px;
	background-image : url('..\\..\\images\\tabuleiro_x15_y150.png');
	
}